* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    margin: 0px auto;
    width: 960px;    
 }

.header {
    float: left;
    width: 100%;
}

h1 {
    background-color:teal;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    width: 40%;
    text-align: center;    
}

#link1 {
    float: right;
    width: 15%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 22px;
    font-weight: bold;
}

#link2 {
    float: right;
    width: 15%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 22px;
    font-weight: bold;
    
}

#link3 {
    float: right;
    width: 15%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 22px;
    font-weight: bold;
}

#topline {
    background-color: grey;
    width: 100%;
    height: 2px;
    float: left
}

h2 {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.myface {
    float: left;
    width: 20%;
    height: 20%;
    margin-right: 20px;
}

p {
    font-size: 20px;
}

.contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#fname {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: block;
    border-bottom: 10px 
}

#lname {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: block;
    border-bottom: 10px
}

#subject {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: block;
    border-bottom: 10px'
}

#submit {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#level1 {
    width: 80%;
    height: 320px;  
    margin: 0 auto;
}

#level2 {
    width: 80%;
    height: 320px;   
    margin: 0 auto;
}

#level3 {
    width: 80%;
    height: 320px;   
    margin: 0 auto;
}
#hangman {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 50%;
    height: 100%;
}

#rpg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 50%;
    height: 100%;
}

#trivia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 50%;
    height: 100%;
}

#widget {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 50%;
    height: 100%;   
}

#rock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 50%;
    height: 100%;
}

.hanggame {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.rpggame {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
         
}

.triviagame {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.rutwidget {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.rockgame {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

#hanglabel {  
    text-align: center;
    z-index: 1;
    background-color: teal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
}
#rpglabel {
    text-align: center;
    z-index: 1;
    background-color: teal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
}

#tlabel {
    text-align: center;
    z-index: 1;
    background-color: teal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
}

#wlabel {
    text-align: center;
    z-index: 1;
    background-color: teal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
}

#rocklabel {
    text-align: center;
    z-index: 1;
    background-color: teal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;

}